.section-title-contact{
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #051b35;
  font-weight: 400;
}

.text-link{
  color: inherit;
  text-decoration: inherit;
}

.breadbody{
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 30px;
  font-weight: 600;
  border-radius: 10px;
}